{% extends 'base_admin.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                <ol class="breadcrumb">
                 	<li class="breadcrumb-item">
                    	<a href="#"></a>
                 	</li>
                 	<li class="breadcrumb-item active">
                 		BC3 - INGENIEROS S.A.
                 	</li>
                </ol>
                <button onclick="location.href='/proveedores'" class=" boton_tabla float-right">&nbsp;Regresar</button>            
                <spam class="titulo">Proveedor: {{ proveedor.nombreproveedor  }}</spam>
                <hr>
                <center>
                <table class="tabla2">
                  <tbody >
                    <tr>
                      <th class="fila" >Su ID es:</th>
                      <td  class="fila">{{ proveedor.idproveedor  }}</td>
                    </tr>
                    <tr>
                      <th class="fila">Nombre:</th>
                      <td class="fila">{{ proveedor.nombreproveedor }}</td>
                    </tr>
                    <tr>
                      <th class="fila">Ruc:</th>
                      <td class="fila">{{ proveedor.ruc }}</td>
                    </tr>
                    <tr>
                      <th class="fila">Dirección:</th>
                      <td class="fila">{{ proveedor.direccion }}</td>
                    </tr>
                    <tr>
                      <th class="fila">Teléfono:</th>
                      <td class="fila">0{{ proveedor.telefono }}</td>
                    </tr>
                  </tbody>
                </table>
                
                </center>    
				<hr>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}