{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<!--DIV CONTENDO-->
        
<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                <center>
                <div class="row"
                <div class="container text-center col-lg-6 col-centrada">
					<div class="container-fluid" style="height: 25px">
							 {% for flash_message in app.session.flashbag.get('notice') %}
							 	<div class="alert alert-success" id="mensaje">
									<!--<div class="flash-notice">-->
			        						{{ flash_message }}
			    					<!--</div>-->
			    				</div>
							{% endfor %}	
							{% for flash_message in app.session.flashbag.get('error') %}
                                <div class="flash-notice" style="color:red">
                                    {{ flash_message }}
                            	</div>
                			{% endfor %}					
					</div>
				</div>
				</div>
				</center>
 				<button onclick="location.href='/proyecto/new'" class=" boton_tabla float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Nuevo</button>            
 				<spam class="titulo">PROYECTOS</spam>
                <hr>

                <!-- DataTables -->
                <div class="card mb-3">
                  	<div class="card-body">
                    	<div class="table-responsive">
                    	{% if proyectos %}
                      		<table class="table table-bordered " id="datos" width="100%" cellspacing="0">
		                        <thead>
		                          <tr class="card-header">
		                            <th>ID</th>
		                            <th>Nombre proyecto</th>
		                            <th>Dirección</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </thead>
		                        <tfoot>
		                          <tr>
		                            <th>ID</th>
		                            <th>Nombre proyecto</th>
		                            <th>Dirección</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </tfoot>
                        		<tbody>    
                        		{% for proyecto in proyectos %}                    
			                        <tr>
			                         	<td>{{ proyecto.idproyecto}}</td>
			                            <td>{{ proyecto.nombreproyecto }} </td>
			                            <td>{{ proyecto.direccionproyecto }}</td>
			                            <td>
			                            	<center>	
				                            <a href="/proyecto/show/{{ proyecto.idproyecto }}"  class="icono_tabla " title="Ver" ><i class="fa fa-eye" aria-hidden="true" ></i></a>                 	<a href="/proyecto/edit/{{ proyecto.idproyecto }}" title="Editar" class="icono_tabla "  ><i class="fa fa-pencil" aria-hidden="true"></i></a>
				                            <!--<a href="/poyecto/images"  class="icono_tabla "  title="Subir Imágenes"><i class="fa fa-upload"></i></a>-->
				                            <a href="/asignar/herramientas/{{ proyecto.idproyecto }}"  class="icono_tabla "  title="Asignar Trabajadores"><i class="fa fa-user-plus"></i></a>
				                            <a href="/proyecto/delete/{{ proyecto.idproyecto }}" title="Eliminar" class="icono_tabla " onclick="if (! confirm('Esta seguro de eliminar a: {{ proyecto.idproyecto }}')) return false;"><i class="fa fa-eraser" aria-hidden="true"></i></a>

				                            </center>	                                         				                            
				                        </td>
			                        </tr>   
			                    {% endfor %}           
		                        </tbody>
                      		</table>
                      	{% else %}
							<p> No hay proyectos registrados aún </p>
						{% endif %}
                    	</div>
                    </div>
                </div>
                <!-- fin data table -->

                
            </div>
        </div>
    </div>
              <!-- /.container-fluid -->
</div>
            <!-- /.content-wrapper -->
            <!--fin Contenido-->

   
{% endblock %}