{% extends 'base_admin.html.twig' %}
{% block title %}  {% endblock %}

{% block body %}

<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                <ol class="breadcrumb">
                 	<li class="breadcrumb-item">
                    	<a href="#"></a>
                 	</li>
                 	<li class="breadcrumb-item active">
                 		BC3 - INGENIEROS S.A.
                 	</li>
                </ol>
                <button onclick="location.href='/estado/bodega'" class=" boton_tabla float-right">&nbsp;Regresar</button>            
               <spam class="titulo">Estado - Herramientas/Materiales</spam>
                <hr>
                <div class="row">
                    <div class="container col-lg-6 col-centrada ingresar">
                       <center> <spam class="titulo">Ingresar información</spam></center>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                            {{ form_row(form.nombreestado, {'label_attr': {'class': 'label'}
                                                        ,'attr': {'class': 'atributo'}} ) }}
                            {{ form_row(form.descripcionestado,  {'label_attr': {'class': 'label'}
                                                        ,'attr': {'class': 'atributo'}} ) }}
                        {{ form_end(form) }}
                    </div>
                </div>
				<hr>
                
            </div>
        </div>
    </div>
</div>
	
  

{% endblock %}

