{% extends 'base_admin.html.twig' %}

{% block title %}CArgos{% endblock %}

{% block body %}

<!--DIV CONTENDO-->
        
<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                <center>
                <div class="row"
                <div class="container text-center col-lg-6 col-centrada">
					<div class="container-fluid" style="height: 25px">
							 {% for flash_message in app.session.flashbag.get('notice') %}
							 	<div class="alert alert-success" id="mensaje">
									<!--<div class="flash-notice">-->
			        						{{ flash_message }}
			    					<!--</div>-->
			    				</div>
							{% endfor %}						
					</div>
				</div>
				</div>
				</center>

 				<button onclick="location.href='cargo/new'" class=" boton_tabla float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Nuevo</button>            
 				<spam class="titulo">CARGOS DE TRABAJADORES</spam>
                <hr>

                <!-- DataTables -->
                <div class="card mb-3">
                  	<div class="card-body">
                    	<div class="table-responsive">
                    	{% if cargos %}
                      		<table class="table table-bordered" id="datos" width="100%" cellspacing="0">
		                        <thead>
		                          <tr class="card-header">
		                            <th>C贸digo</th>
		                            <th>Nombre</th>
		                            <th>Descripci贸n</th>
		                            <th>Rol</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </thead>
		                        <tfoot>
		                          <tr>
		                            <th>C贸digo</th>
		                            <th>Nombre</th>
		                            <th>Descripci贸n</th>
		                            <th>Rol</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </tfoot>
                        		<tbody>    
                        		{% for cargo in cargos %}                    
			                        <tr>
			                         	<td>{{ cargo.idcargo }}</td>
			                            <td>{{ cargo.nombrecargo }}</td>
			                            <td>{{ cargo.descripcion }}</td>
			                            <td>{{ cargo.rol }}</td>
			                            <td>
				                            <center>	                  
				                            <a href="/cargo/show/{{ cargo.idcargo }}"  title="Ver" class="icono_tabla "  ><i class="fa fa-eye" aria-hidden="true"></i></a>
				                            <a href="/cargo/edit/{{ cargo.idcargo }}" title="Editar" class="icono_tabla "  ><i class="fa fa-pencil" aria-hidden="true"></i></a>
				                            <a href="/cargo/delete/{{ cargo.idcargo }}" title="Eliminar" class="icono_tabla " onclick="if (! confirm('Esta seguro de eliminar a: {{ cargo.nombrecargo }}')) return false;" ><i class="fa fa-eraser" aria-hidden="true"></i></a>
				                            </center>
				                        </td>
			                        </tr>   
			                    {% endfor %}           
		                        </tbody>
                      		</table>
                      	{% else %}
							<p> No hay cargos registrados aun </p>
						{% endif %}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
              <!-- /.container-fluid -->
</div>
            <!-- /.content-wrapper -->
            <!--fin Contenido-->

 {% endblock %}  
 