{% extends 'base_admin.html.twig' %}
{% block title %}  {% endblock %}

{% block body %}

<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                <ol class="breadcrumb">
                 	<li class="breadcrumb-item">
                    	<a href="#"></a>
                 	</li>
                 	<li class="breadcrumb-item active">
                 		BC3 - INGENIEROS S.A.
                 	</li>
                </ol>
                <button onclick="location.href='/trabajador/list'" class=" boton_tabla float-right">&nbsp;Regresar</button>            
                <spam class="titulo">Trabajador: {{ trabajador.ci }}</spam>
                <hr>
                
                <div class="row">
                    <div class="container col-lg-6 col-centrada ingresar">
                    <center><spam class="titulo">Modificar información</spam></center>
    				{{ form_start(form) }}
                            {{ form_row(form.cargoid, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            
                            {{ form_row(form.nombres, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {{ form_row(form.apellidos, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {% for flash_message in app.session.flashbag.get('error_edad') %}
                                <div class="flash-notice" style="color:red">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {{ form_row(form.edad, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {{ form_row(form.direccion, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {% for flash_message in app.session.flashbag.get('error_tel') %}
                                <div class="flash-notice" style="color:red">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {{ form_row(form.telefono, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {{ form_row(form.fechaingreso, {'label_attr': {'class': 'label'}
                                                            ,'attr': {'class': 'atributo'}} ) }}
                             {% for flash_message in app.session.flashbag.get('error_sueldo') %}
                                <div class="flash-notice" style="color:red">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {{ form_row(form.sueldo, {'label_attr': {'class': 'label'}
                                                    ,'attr': {'class': 'atributo'}} ) }}
                            {% for flash_message in app.session.flashbag.get('error_fecha') %}
                                <div class="flash-notice" style="color:red">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {{ form_row(form.fechasalida, {'label_attr': {'class': 'label'}
                                                            ,'attr': {'class': 'atributo'}} ) }}
                        {{ form_end(form) }}
                    </div>
                </div>		
				<hr>
                
            </div>
        </div>
    </div>
</div>
	
  

{% endblock %}