{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.css"/>-->
{% endblock %}
{% block body %}

<!--DIV CONTENDO-->
        
<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
                
                <center>
                <div class="row"
                <div class="container text-center col-lg-6 col-centrada">
					<div class="container-fluid" style="height: 25px">
							 {% for flash_message in app.session.flashbag.get('notice') %}
							 	<div class="alert alert-success" id="mensaje">
									<!--<div class="flash-notice">-->
			        						{{ flash_message }}
			    					<!--</div>-->
			    				</div>
							{% endfor %}						
					</div>
				</div>
				</div>
				</center>
				
 				<button onclick="location.href='/trabajador/new'" class=" boton_tabla float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Nuevo</button>            
 				<spam class="titulo">TRABAJADORES</spam>
                <hr>
 
                <!-- DataTables -->
                <div class="card mb-3">
                  	<div class="card-body">
                    	<div class="table-responsive">
                    	{% if trabajadores %}
                      		<table class="table table-bordered" id="datos" width="100%" cellspacing="0">
		                        <thead>
		                          <tr class="card-header">
		                            <th>Id.</th>
		                            <th>C.I.</th>
		                            <th>Nombre y apellidos</th>
		                            <th>Dirección</th>
		                            <th>Sueldo</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </thead>
		                        <tfoot>
		                          <tr>
		                            <th>Id.</th>
		                            <th>C.I.</th>
		                            <th>Nombre y apellidos</th>
		                            <th>Dirección</th>
		                        	<th>Sueldo</th>
		                            <th>Opciones</th>
		                          </tr>
		                        </tfoot>
                        		<tbody>    
                        		{% for trabajador in trabajadores %}                    
			                        <tr>
			                        	<td>{{ trabajador.idtrabajador}}</td>
			                         	<td>{{ trabajador.ci}}</td>
			                            <td>{{ trabajador.nombres }} {{ trabajador.apellidos }}</td>
			                            <td>{{ trabajador.direccion }}</td>
			                            <td>{{ trabajador.sueldo }}</td>
			                            <td>
				                            <center>	     
				                           		<a href="/trabajador/show/{{ trabajador.idtrabajador }}"class="icono_tabla "  ><i class="fa fa-eye" aria-hidden="true"></i></a>	              
				                            	<a href="/trabajador/edit/{{ trabajador.idtrabajador }}" title="Editar" class="icono_tabla "  ><i class="fa fa-pencil" aria-hidden="true"></i></a>
				                            	<a href="/trabajador/delete/{{ trabajador.idtrabajador }}" title="Eliminar" class="icono_tabla " onclick="if (! confirm('Esta seguro de eliminar a: {{ trabajador.ci }}')) return false;" ><i class="fa fa-eraser" aria-hidden="true"></i></a>
				                            </center>				                            
				                        </td>
			                        </tr>   
			                    {% endfor %}           
		                        </tbody>
                      		</table>
                      	{% else %}
							<p> No hay trabajadores registrados aún </p>
						{% endif %}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
              <!-- /.container-fluid -->
</div>
            <!-- /.content-wrapper -->
            <!--fin Contenido-->



{% endblock %}

