{% extends 'base_empleado.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<!--DIV CONTENDO-->
        
<div id="content-wrapper">
    <div class="container-fluid">
		<!-- contenido -->
        <div id="content-wrapper">
			<div class="container-fluid">
               
				<center>
                <div class="row"
                <div class="container text-center col-lg-6 col-centrada">
					<div class="container-fluid" style="height: 25px">
							 {% for flash_message in app.session.flashbag.get('notice') %}
							 	<div class="alert alert-success" id="mensaje">
									<!--<div class="flash-notice">-->
			        						{{ flash_message }}
			    					<!--</div>-->
			    				</div>
							{% endfor %}						
					</div>
				</div>
				</div>
				</center>               

				
 				<button onclick="location.href='/avance/proyecto/{{ proyecto.idproyecto }}'" class=" boton_tabla float-right"> &nbsp;Regresar</button>  

 				<spam class="titulo">Galería de la fecha: {{ avance.fechaavance  | date('d - M - Y')|replace({
                                            'Enero'  : 'Enero',
                                            'Diciembre' : 'Diciembre',
                                            'Lunes'   : 'Lunes',                  
                                            'Domingo'   : 'Domingo'
                                          })}}</spam>
                <hr>
 				<div class="row">
                    <div class="container col-lg-6 col-centradas">
                       <center> <spam class="titulo">Ingresar información</spam></center>
                        {{ form_start(form) }}
                            {{ form_row(form.avanceid, {'label_attr': {'style': 'visibility: hidden; position: absolute'}
                                                        ,'attr': {'style': 'visibility: hidden; position: absolute'}} ) }}
                            <div class="formato" >
                            {{ form_row(form.nombreimagen,  {'label_attr': {'class': 'label'}
								                            ,'attr': {'class': 'atributo'}} ) }}  
                            </div>
                            <div class="formato" >
                            {{ form_row(form.descripcion,  {'label_attr': {'class': 'label'}
								                            ,'attr': {'class': 'atributo'}} ) }}  
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>  

 				<h4>Galería</h4>
                <hr>
					<!-- cards-->	
					<ul class="ch-grid" style="color:white" >
					{% if galeria %}
					<div class="card-group mt-4 mb-4 p-2 ">
					
					{% for galerias in galeria  %}
						<li class="my-5 data-info">
						<div class="card mx-2 text-center rounded-0 " style="border: none;  border-radius:4px;">
							<img class=" my-2  px-2 card-img-top img-fluid rounded d-block mx-auto  zoom" style="height: 190px; width: 220px; margin-bottom: 5px;" src="{{ asset('uploads/galeria/' ~ galerias.nombreimagen) }}"  alt="Card image cap" >
							<div class="card-body">
								<h6 class="card-title text-center" style="color:black">{{ galerias.descripcion}}</h6>
								<!--<a href=""  class="icono_tabla" class="VisualizarD" title="Ver" data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-eye" aria-hidden="true" ></i></a>-->
								<a href="/galeria_user/eliminar/{{ galerias.id}}/{{ avance.id }}/{{ proyecto.idproyecto }}" title="Eliminar" class="icono_tabla " onclick="if (! confirm('Esta seguro de eliminar esta imagen')) return false;" ><i class="fa fa-eraser" aria-hidden="true"></i></a>
							    							    
							</div>
						</div><li>							
					{% endfor %}
					
					</div>
					{% else %}
							<p> No hay avances registrados aún </p>
					{% endif %}  
					</ul>             
            </div>
        </div>

       
        
    </div>
              <!-- /.container-fluid -->
</div>
            <!-- /.content-wrapper -->
            <!--fin Contenido-->

<!-- Modal ver disciplina -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<input type="text" readOnly= "true" name="id" class="form-control" id="id">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<br>
					<!--<img class=""  src=""  alt="" name="nombreimagen">-->
					<input type="text" readOnly = "true" name="nombreimagen" class="form-control" id="nombreimagen">
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!--Fin modal disciplina-->	
{% endblock %}		

 

